html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  position: fixed;
  width: 100%;
  min-height: 100vh;

  z-index: 0;

  main {
    position: absolute;
    top: 50px;
  }
}


h1, h2, h3, h4, h5, h6, p {
  margin: 5px;
}