.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    img {
        margin: 15px;
        max-width: 300px;
    }
}

.single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    img {
        position: fixed;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

.controls {
    z-index: 10;
    position: fixed;
    background-color: #0000009c;
    left: 0;
    top: calc(100vh - 100px);
    height: 100px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        margin: 10px;
    }

    button {
        background: none;
        border: none;
        color: white;

        font-size: 40px;
        transition: 0.25s linear;
    }

    button:hover {
        transform: scale(1.5);
        background: none;
        border: none;
        color: white;

        transition: 0.25s linear;
    }
}