.navContainer {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    background-color: blue;

    z-index: 100;

    transition: .25s linear;
}

.navContainer.isActive {
    left: 0;
    transition: .25s linear;
}

.menuToggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
}